@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
  }

  select {
    color: var(--foreground);
  }

  option {
    color: var(--foreground);
    background: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-heebo), Arial, Helvetica, sans-serif;
}
